#RedragonM711Cobra{
    height: 120px;
    border-radius: 15px;
}
#RedragonKumaraK552{
    height: 120px;
    margin-left: 18px;
    border-radius: 15px;
}
.divs{
    border: 2px solid black;
    display: inline-block;
    border-radius: 15px;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: green;
    margin: 0;
}
.inspect{
    border: 2px solid black;
    height: 300px;
    margin: 0;
    display: inline-block;
}
.small{
    border: 3px solid black;
    height: 70px;
}
.SideStuff{
    vertical-align: top;
    margin-left: 30px;
    display: inline-block;
}